* {
  background-image: url(https://c1.staticflickr.com/5/4097/4893035233_62ae1bd2fe.jpg);
}
h1 {
  color: lightgrey;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align :center;
  font-family :fantasy;
  font-weight :bold;
  font-size :2.5rem;
  box-shadow: 10px 10px 5px grey;
}
section>h2 {
  color: lightgrey;
  text-shadow: 1px 1px 2px black, 0 0 5px darkblue;
  font-family :fantasy;
  font-size :1.5rem;
}
h3 {
    color: darkblue;
    font-weight: bold;
    font-size: 1.3rem;
}
section {
  overflow: hidden;
}
.grid-item img {
  max-width :150px;
  margin: 1.5em;
  border-radius: 5px;
  box-shadow: 1px 1px 2px black, 0 0 5px darkblue;
}
#grid-floats .grid-item {
  float: left;
  min-height: 500px;
}
#grid-flex {
  display: flex;
  flex-wrap: wrap;
}
.grid-item { 
  list-style: none;
  overflow :hidden;
  box-sizing :border-box;
  border:2px dashed grey;
  border-radius:5px;
  margin :5px;
  padding :1%;
  width: calc(100% / 2 - 10px);
}
.grid-item:nth-child(1) {
  width: calc(100% - 10px);
}
@media (min-width: 480px) {
  .grid-item:nth-child(-n+2) {
    width: calc(100% / 2 - 10px);
  }
  .grid-item:nth-child(n+3) {
    width: calc(100% / 3 - 10px);
  }
}
@media (min-width: 900px) {
  .grid-item:nth-child(1) {
width: calc(50% - 10px);
  }
  .grid-item:nth-child(n+2) {
    width: calc(100% / 4 - 10px); 
  }
}
li:hover {
  font-family: sans-serif;
  position: relative;
  box-shadow: 6px 8px 3px 3px #cdcdd0;
}

